[submodule "Lib/jk-interpolation"]
	path = Lib/jk-interpolation
	url = https://bitbucket.org/kluivers/jk-interpolation.git 
[submodule "Lib/DDMathParser"]
	path = Lib/DDMathParser
	url = git@github.com:kluivers/DDMathParser.git
